<!DOCTYPE html>
<html>
  <head>
    <title>Project One</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <a href= <%= link %>>
    <button id="button"   class="btn btn-danger border-shadow" >
      Authenticate
  </button></a>
</body>
<!-- <script>
function openlink() {
 
}

</script> -->
</html>


<!-- <th>Views</th>
        <th>Country</th>
        <th>Genre</th>
        <th>Video Uploads</th>
        <th>Estimated Monthly Earnings</th>
        <th>Estimated Yearly Earnings</th> 
      
      
       <td><img class="img-rounded" src="${data.data.channel_image}"/></td>
        <td><a target="_blank" class="btn btn-danger" href="${data.data.channel_link}">Go to Channel</a></td>
      
      
      <td>${data.data.channel_genre}</td>
        <td>${data.data.channel_uploads}</td>
        <td>${data.data.channel_estimated_monthly_earnings}</td>
        <td>${data.data.channel_estimated_yearly_earnings}</td>
      -->